<a href="https://colab.research.google.com/github/MaxTechniche/DS20_Unit_1_Build/blob/master/Jacob_Maxfield_Unit_1_Project_Build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMDb Top 250 List**

###### Imports

In [129]:
import re
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup
from collections import defaultdict

##### Gather Datasets (Web Scraping)

###### Functions (I've already preprocessed it below.)

In [267]:
def convert_runtime(time):
  """Converts a string movie runningtime "#h ##min" to a int of total minutes."""
  runtime = time.split()
  print(runtime)
  if len(runtime) > 1:
    hours = int(runtime[0][:-1])
    minutes = int(runtime[1][:-3])
  elif len(runtime) == 1:
    if runtime[0][-1:] == 'h':
      hours = int(runtime[0][:-1])
      minutes = 0
    else:
      minutes = int(runtime[0][:-3])
      hours = 0
  else:
    return None
  converted_time = hours * 60 + minutes

  return converted_time

def get_imdb_top_250():
  """Gets list of the top 250 IMDb movies Titles and IDs. Returns a dictionary."""
  t_url = "https://www.imdb.com/chart/top"
  source = requests.get(t_url).text
  soup = BeautifulSoup(source, 'html.parser')

  movie_links = soup.find('tbody', class_='lister-list').find_all('a')
  movie_titles = {title['href'][9:-1]:title.text for title in movie_links}
  return movie_titles

def movie_info(df):
  """Gets list of the top 250 IMDb movies extended info. Returns a dictionary."""
  imdb = "https://www.imdb.com/"
  movie_info = defaultdict(dict)

  for id in df['ID']:
    source = requests.get(imdb + 'title/tt' + id).text
    info = BeautifulSoup(source, 'lxml').find('div', class_='subtext')

    rating = info.next_element.strip()

    runtime = convert_runtime(info.time.text.strip())

    try:
      genres = ', '.join([genre.text.strip() for genre in info.find_all(href=re.compile('/search'))])
    except AttributeError:
      genres = None

    try:
      release_date = info.find(href=re.compile('/title/tt')).text.strip()
      release_country = re.search('\([\w ]+\)', release_date)
      if release_country:
        release_country = release_country.group(0)
        release_date = release_date.strip(release_country).strip()
        release_country = release_country.lstrip('(').rstrip(')')
    except AttributeError:
      release_date = None
      release_country = None
    for name, val in zip(['Rating', 'Runtime', 'Genres', 'Release_Date', 'Release_Country'], [rating, runtime, genres, release_date, release_country]):
      movie_info[id][name] = val
  return movie_info
  
def merge_title_data():
  movie_titles = 'https://raw.githubusercontent.com/MaxTechniche/DS20_Unit_1_Build/master/top_250_imdb_list.csv'
  extended_movie_info = 'https://raw.githubusercontent.com/MaxTechniche/DS20_Unit_1_Build/master/top_250_movies_info.csv'

  df_titles = pd.read_csv(movie_titles)
  df_info = pd.read_csv(extended_movie_info)

  df = pd.merge(df_titles, df_info, on='ID')
  df.to_csv('top_250_IMDb_movies.csv', index=False)
  return pd.read_csv('top_250_IMDb_movies.csv')

def get_int(comma_num):
  return int(''.join(comma_num.split(',')))

def get_rankings(df):
  rankings_dict = defaultdict(dict)
  rank_names = [
      *[str(x) for x in range(10, 0, -1)],
      *['Rank_' + gender + star for gender in ['All_', 'Male_', 'Female_'] for star in ['All_Ages','<18','18-29','30-44','45+']],
      *['Count_' + gender + count for gender in ['All_', 'Male_', 'Female_'] for count in ['All_Ages','<18','18-29','30-44','45+']]]
  
  title_link = 'https://www.imdb.com/title/tt'
  ids = df['ID']

  for id in ids:
    search = title_link + id + 'ratings'
    page = BeautifulSoup(requests.get(search).text, 'lxml')

    rank_values = []

    # Total Stars
    rank_values.extend([get_int(r.text.strip()) for r in page.find_all('div', class_='leftAligned')[1:11]])
    rank_values.extend([float(r.text.strip()) for r in page.find_all('div', class_='bigcell')[:15]])
    rank_values.extend([get_int(r.text.strip()) for r in page.findAll('a', href=re.compile('/title/tt' + id + 'ratings\?demo'))[:15]])
    
    for name, val in zip(rank_names, rank_values):
      rankings_dict[id][name] = val
  ranks = pd.DataFrame.from_dict(rankings_dict).T
  ranks.reset_index().rename({'index':'ID'}, axis=1).to_csv('top_250_rankings.csv', index=False)
  return pd.read_csv('top_250_rankings.csv')

###### Do not uncomment!

In [ ]:
# imdb = "https://www.imdb.com/"

# titles = imdb_top_titles()
# df = pd.DataFrame.from_dict(data=movie_info(titles, imdb)).T
# df = df.reset_index().rename(columns={'index':'ID'})

# df = merge_title_data()

# Full Movie Titles link
# movies_link = 'https://raw.githubusercontent.com/MaxTechniche/DS20_Unit_1_Build/master/top_250_IMDb_movies.csv'
# df = pd.read_csv(movies_link)

# rankings = get_rankings(df)
# df = pd.merge(df, rankings, on='ID')
# df.to_csv('top_250_IMDb_movies_and_rankings.csv', index=False)
# df = pd.read_csv('top_250_IMDb_movies_and_rankings.csv')

# Start here:

In [265]:
imdb_list = 'https://raw.githubusercontent.com/MaxTechniche/DS20_Unit_1_Build/master/top_250_IMDb_movies_and_rankings.csv'
df = pd.read_csv(imdb_list)
df

            ID                 Title_Name  ...  Count_Female_30-44 Count_Female_45+
0     0111161/   The Shawshank Redemption  ...            129811.0          34510.0
1     0068646/              The Godfather  ...             74072.0          23038.0
2     0071562/     The Godfather: Part II  ...             47896.0          16400.0
3     0468569/            The Dark Knight  ...            124540.0          20271.0
4     0050083/               12 Angry Men  ...             31869.0           9632.0
..         ...                        ...  ...                 ...              ...
245   0088247/             The Terminator  ...             35655.0          12274.0
246  10431500/   Yedinci Kogustaki Mucize  ...              1423.0            182.0
247   0111495/          Three Colors: Red  ...              6482.0           2373.0
248   5323662/  A Silent Voice: The Movie  ...              1375.0            172.0
249   0103639/                    Aladdin  ...             38727.0           5388.0

[250 rows x 48 columns]

In [310]:
df['Release_Date'].value_counts()

22 November 1995    2
28 March 2003       2
25 June 1982        2
14 October 1994     2
15 November 2019    2
                   ..
14 February 2020    1
30 March 2007       1
6 March 1998        1
20 October 2006     1
10 April 1957       1
Name: Release_Date, Length: 245, dtype: int64

**SAME DAY RELEASES?!**

In [309]:
rd_pairs = df[df['Release_Date'].isin(df['Release_Date'].value_counts().head(5).index)]

           ID                Title_Name  ...  Count_Female_30-44 Count_Female_45+
0    0111161/  The Shawshank Redemption  ...            129811.0          34510.0
7    0110912/              Pulp Fiction  ...             98881.0          26000.0
26   0245429/             Spirited Away  ...             49375.0           7286.0
36   0253474/               The Pianist  ...             53541.0          10670.0
80   0114709/                 Toy Story  ...             59425.0          12919.0
140  0112641/                    Casino  ...             17514.0           6906.0
164  0084787/                 The Thing  ...             14239.0           5662.0
170  0083658/              Blade Runner  ...             29113.0          12526.0
183  4729430/                     Klaus  ...              4519.0            740.0
196  1950186/            Ford v Ferrari  ...              9231.0           3144.0

[10 rows x 48 columns]

In [269]:
df[df['Release_Date'] == '22 November 1995']

           ID Title_Name  ...  Count_Female_30-44 Count_Female_45+
80   0114709/  Toy Story  ...             59425.0          12919.0
140  0112641/     Casino  ...             17514.0           6906.0

[2 rows x 48 columns]